<head>
	<title>About</title>
	<link href="style/header_style.css" rel="stylesheet">
</head>
<div id="conteudo">
	<h1>About</h1>
	<p><strong>Progetto di programmazione in PHP realizzato in classe con il professor Enrico Zimuel.</strong></p>
	<br>
	<p>Realizzazione di un'applicazione PHP per la gestione di un
	quotidiano online con i seguenti requisiti tecnici:</p>
	<p><ul>
		<li>Utilizzo del pattern SimpleMVC: <a href="https://github.com/ezimuel/simplemvc" target="_blank">github.com/ezimuel</a></li>
		<li>Utilizzo del template Twig</li>
		<li>Memorizzazione degli articoli in un database (MySQL o SQLite) utilizzando PDO di PHP per l'accesso</li>
		<li>Sistema di gestione articoli con operazioni CRUD</li>
		<li>Utilizzo di test unitario con PHPUNIT</li>
	</ul></p>
	<hr><br>
	<p><strong>Gruppo di progetto:</strong>
		<ul>
			<li>Anielle Gomes Macedo</li>
			<li>Claudio Faoro</li>
			<li>Marco Cella</li>
		</ul></p>
		<hr><br>
		<p></a><strong>Codici Sorgenti: </strong><a href="https://github.com/markvonturin777/PhpProjectFinale" target="_blank">Github</a></p>
</div>