   <!DOCTYPE html>
   <html>
   <head>
       <title>Login Amministrazione</title>
       <link href="style/login_style.css" rel="stylesheet">  
   </head>
   <body>

    <div id="overlay"></div>
    <div class="loginbox">
        <h1>Amministrazione</h1><br><br>

        <form action="/login" method="post" >

            <input name="email" type="text" placeholder="Email" required="required"><br>
            <input name="password" type="password" placeholder="Password" required="required">
            <input name="entra" type="submit" value="LOGIN">
            <h1><a href="/">Back to Home</a></h1>
        </form>
      
        
    </div>

     </body>
   </html>

